@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

/* .logo {
    padding: 20px;
} */

.SideBar {
    height: 100vh;
    background-color: #344cb7;
    color: white;
}

.LoginForm {
    margin-top: 35vh;
}

li {
    list-style: none;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.card-registration .select-arrow {
    top: 13px;
}

Table {
    margin-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
}

.btn {
    width: 100%;
    color: white;
    text-decoration: none;
    text-align: start;
}

.btn:hover {
    background-color: #000957;
}

#carousel {
    background-color: black;
    object-fit: contain;
}

.edit_profile {
    color: black;
}

.edit_profile:hover {
    color: white;
}
