@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
}

.SideBar {
    height: 100vh;
    background-color: rgb(9, 63, 134);
    color: white;
}

.LoginForm {
    margin-top: 35vh;
}

li {
    list-style: none;
}

.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.card-registration .select-arrow {
    top: 13px;
}
